.top{
    background-color: #427bff;
    color: #ffffff;
    text-align: center;
    padding: 20px 50px 70px 50px;
}
.bottom{
    background-color: #ffffff;
    color: black;
    text-align: justify;
    padding: 100px 400px 100px 280px;
}

